* {
    margin: 0;
    padding: 0;
    --font-color-light: #fff;
    --bg-light: #f9fafb;
    --bg-dark: #000;
    --bg-dark-green: #596d48;
    --bg-shadow: #dadadb;
    --border-input: #e5e7eb;
    --border-focus: #6950f5;
    --invalid-color: #c03737;
}

@font-face {
    font-family: Norse;
    src: url(../font/Norse-Bold.otf);
}

body,
label,
form,
fieldset,
.left-side,
.logo,
.middle {
    font-family: 'Roboto', sans-serif;
    display: flex;
    line-height: 1.3;
}

p {
    max-width: 50ch;
}

.bold,
button {
    font-size: 1.4rem;
    font-weight: 500;
}

.italic {
    font-style: italic;
}

.left-side {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 30%;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
}

.logo {
    font-family: Norse;
    font-size: 5.1rem;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 13rem;
    padding: 0.1em 0;
    color: var(--font-color-light);
    z-index: 1;
}

.logo::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--bg-dark);
    opacity: 0.5;
    z-index: -1;
}

.logo > img {
    height: 7rem;
    width: auto;
}

.credit-img,
.credit-img > a {
    margin-bottom: 1.2rem;
    color: var(--font-color-light);
}

form {
    flex-direction: column;
    min-width: 70%;
}

.top {
    padding: 8em 0 3.7em 3.2em;
    background-color: var(--bg-light);
}

.top > p:last-child {
    margin-top: 1em;
}

.middle {
    flex-direction: column;
    padding: 1em 0 0.9em 3.2em;
    box-shadow: 10px 5px 10px 1px var(--bg-shadow);
}

fieldset {
    margin-top: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    row-gap: 1.5rem;
    padding-bottom: 1.7em;
    border: none;
}

input {
    position: relative;
    font-size: 1rem;
    min-width: 30%;
    padding: 0.4rem;
    border: 1px solid var(--border-input);
    border-radius: 3px;
    outline: none;
}

input:focus {
    border: 1px solid var(--border-focus);
    box-shadow: 1px 1px 3px 1px var(--bg-shadow);
}

.diff-pwd {
    font-size: 0.9rem;
    display: flex;
    position: absolute;
    color: var(--invalid-color);
}

.bottom {
    padding-left: 3.2em;
}

button {
    margin: 1.7em 0;
    font-size: 1rem;
    color: var(--font-color-light);
    padding: 0.5em 3.15em;
    background-color: var(--bg-dark-green);
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px var(--bg-shadow);
    border: none;
}

.bottom > p > a {
    color: var(--bg-dark-green);
    font-weight: 500;
    text-decoration: none;
}
